*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

.header {
    position: relative;

    .contact_info_wrapper {
        background-color: #484848;

        .contact_info {
            max-width: 938px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;

            p {
                margin: 10px 0;
                color: #ffffff;
                font-size: 17px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: normal;
                text-align: left;
                text-transform: uppercase;
                line-height: normal;
                font-family: "Plumb Condensed", sans-serif;

                .pink {
                    color: #f5135c;
                }

                a {
                    color: #ffffff;
                    text-decoration: none;
                }
            }
        }
    }

    .header_logo {
        background-color: #5b749a;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);

        .header_logo_wrapper {
            padding: 32px 0 29px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            img {
                display: block;
                margin-right: 14px;
            }

            a {
                display: block;
                text-decoration: none;
                color: #ffffff;
                font-family: "Trebuchet MS", sans-serif;
                font-size: 44px;
                font-weight: 700;
                font-style: normal;
                text-align: left;
                text-transform: uppercase;
                letter-spacing: 1.1px;
                line-height: normal;

                .pink {
                    color: #f5135c;
                }
            }
        }
    }
}

.main_menu_wrapper {
    position: sticky;
    top: 0;
    z-index: 10;

    .main_menu {
        background-color: #ffffff;
        opacity: 0.78;
        position: absolute;
        top: 0;
        width: 100%;

        menu {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: stretch;
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;

            &:before {
                display: block;
                content: "";
                width: 100%;
                height: 11px;
                background-image: url("img/ellipse.png");
                background-repeat: no-repeat;
                background-position: center center;
                position: absolute;
                bottom: -9px;
                right: 0;
            }

            &:after {
                display: block;
                content: "";
                width: 2px;
                height: 100%;
                background-image: url("img/palka.svg");
                background-repeat: no-repeat;
                background-position: center center;
                position: absolute;
                top: 0;
                right: 0;
            }

            > li {
                position: relative;

                &:before {
                    display: block;
                    content: "";
                    width: 2px;
                    height: 100%;
                    background-image: url("img/palka.svg");
                    background-repeat: no-repeat;
                    background-position: center center;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &.with_dropdown {

                    .dropdown {
                        list-style: none;
                        margin: 0;
                        display: none;
                    }

                }


                &:nth-child(2):after {
                    display: block;
                    content: "";
                    width: 8px;
                    height: 4px;
                    background-image: url("img/arrow.png");
                    background-repeat: no-repeat;
                    background-position: center center;
                    position: absolute;
                    top: 18px;
                    right: 55px;
                }

                a {
                    display: block;
                    color: #383838;
                    font-family: "Plumb Condensed", sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    font-style: normal;
                    letter-spacing: normal;
                    text-align: left;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 10px 40px 6px;
                    margin: 0;

                    span {
                        display: inline-block;
                        border-bottom: 2px solid transparent;
                        padding: 0 30px 2px;
                    }

                    &:hover {
                        color: #f5135c;
                    }
                }


                &.active a span {
                    border-color: #f5135c;
                }
            }
        }
    }
}

.main_banner {
    background-image: url(img/4-layers.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 37.5vw;
    position: relative;


    .main_banner_text {
        position: absolute;
        bottom: 3.5vw;
        left: 40%;

        p {
            margin: 0;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.46);
            color: #ffffff;
            font-family: "Plumb Condensed", sans-serif;
            font-size: 2vw;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            text-align: right;
            text-transform: uppercase;
            line-height: 1;
        }
    }
}

.snils_about_wrapper {
    padding: 62px 0 90px;

    h2 {
        text-align: center;
        background-color: #f5135c;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.46);
        color: #ffffff;
        font-family: "Plumb Condensed", sans-serif;
        font-size: 29px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 30px;
        text-transform: uppercase;
        margin: 0;
        padding: 15px 0 10px;
    }

    p {
        color: #272727;
        font-family: "Trebuchet MS", sans-serif;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24px;
        text-align: center;
        margin: 33px 0 45px;
    }

    .snils_about {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 45px 0 50px;

        .snils_about_item {
            margin: 0 25px;

            img {
                display: block;
                width: 440px;
                height: 310px;
                border: 1px solid rgba(109, 139, 49, 0.64);
            }

            p {
                color: #272727;
                font-family: "Trebuchet MS", sans-serif;
                font-size: 16px;
                font-weight: 700;
                font-style: normal;
                letter-spacing: normal;
                line-height: 24px;
                text-align: left;
                margin: 14px 0;
            }

            .snils_list {
                list-style: none;
                color: #272727;
                font-family: "Trebuchet MS", sans-serif;
                font-size: 16px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: normal;
                text-align: left;
                line-height: 24px;
                margin: 0;

                li {
                    position: relative;
                    margin: 20px 0;

                    &:before {
                        display: block;
                        content: "";
                        position: absolute;
                        width: 29px;
                        height: 29px;
                        top: -11px;
                        left: -42px;
                        background-image: url("img/tick.png");
                        background-repeat: no-repeat;
                        background-position: center center;

                    }
                }
            }
        }
    }

    .snils_about_text {
        p {
            color: #f5135c;
            font-family: "Trebuchet MS", sans-serif;
            font-size: 18px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: 24px;
            text-transform: uppercase;
            text-align: center;
            margin: 0;
        }
    }
}

.snils_make_instruction_wrapper {
    max-width: 1366px;
    width: 100%;
    height: 720px;
    margin: 0 auto;
    padding: 40px 0 0;
    background-image: url(img/where-bg-01.png);
    background-repeat: no-repeat;
    background-position: bottom center;


    p {
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        color: #ffffff;
        font-family: "Trebuchet MS", sans-serif;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 37px;
    }

    .snils_make_instruction_text {
        margin: 0 auto;
        background-image: url(img/trapezia.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        max-width: 579px;
        height: 88px;
        position: relative;

        &:before {
            display: block;
            content: "";
            width: 622px;
            height: 2px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            background-color: #ffffff;
            position: absolute;
            top: 4px;
            right: -20px;
        }

        &:after {
            display: block;
            content: "";
            width: 495px;
            height: 2px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            background-color: #ffffff;
            position: absolute;
            top: 80px;
            right: 43px;
        }


        p {
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.46);
            color: #ffffff;
            font-family: "Plumb Condensed", sans-serif;
            font-size: 48px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: center;
            text-transform: uppercase;
            position: absolute;
            top: -28px;
            left: 69px;
        }
    }

    .snils_make_instruction {
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        .snils_make_instruction_item {

            img {
                display: block;
                width: 163px;
                height: 163px;
                margin: 0 auto;
            }

            h6 {
                color: #ffffff;
                font-family: "Plumb Condensed", sans-serif;
                font-size: 30px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: normal;
                line-height: 36px;
                text-align: center;
                text-transform: uppercase;
                margin: 36px 0 30px;
            }

            p {
                color: #ffffff;
                font-family: "Trebuchet MS", sans-serif;
                font-size: 17px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: normal;
                text-align: center;
                max-width: 356px;
                margin: 0 auto;
            }
        }
    }
}

.snils_make_arrow {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    height: 65px;
    background-image: url(img/where-bg-02.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.snils_question_wrapper {
    position: relative;
    max-width: 1366px;
    width: 100%;
    margin: -32px auto 0;

    &:before{
        display: block;
        content: "";
        width: 1366px;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.15);
        position: absolute;
        top: 25px;
    }

    &:after{
        display: block;
        content: "";
        width: 1366px;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.15);
        position: absolute;
        bottom: 35px;
    }


    .bg {
        width: 100%;
        height: 300px;
        background-image: url(img/where-bg-03.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: 32px;
        left: 0;
    }

    .snils_question {
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;


        img {
            display: block;
        }

        p {
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.34);
            color: #ffffff;
            font-family: "Plumb Condensed", sans-serif;
            font-size: 30px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: 36px;
            text-align: left;
        }

        form {
            border: 1px solid rgba(0, 0, 0, 0.35);
            background-color: rgba(255, 255, 255, 0.34);
            padding: 5px;

            .forma{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: stretch;
                border: 1px solid rgba(0, 0, 0, 0.35);
                background-color: rgba(255, 255, 255, 0.34);
                padding: 30px 15px;

                p{
                    margin: 0 0 15px;
                    padding-bottom: 5px;
                    color: #56575b;
                    font-family: "Trebuchet MS", sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: 23.71px;
                    text-align: center;
                    text-transform: uppercase;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                }

                .form-group{
                    margin-bottom: 8px;

                    input{
                        padding: 5px;
                        width: 100%;

                        &::placeholder{
                            color: #969494;
                            font-family: "Trebuchet MS", sans-serif;
                            font-size: 14px;
                            font-style: italic;
                            letter-spacing: normal;
                            line-height: normal;
                            text-align: left;
                        }
                    }

                    textarea{
                        height: 95px;
                        width: 100%;
                        padding: 5px;

                        &::placeholder{
                            color: #969494;
                            font-family: "Trebuchet MS", sans-serif;
                            font-size: 14px;
                            font-style: italic;
                            letter-spacing: normal;
                            line-height: normal;
                            text-align: left;
                        }
                    }
                }

                .btn_contacts{
                    margin: 0 auto;
                    padding: 7px 30px;
                    border: none;
                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 2px 0 rgba(255, 255, 255, 0.5);
                    border-radius: 3px;
                    background-color: #63799c;
                    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
                    color: #ffffff;
                    font-family: "Trebuchet MS", sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: 16.68px;
                    text-align: center;

                    &:hover{
                        background-color: #1f4177;
                    }
                }
            }
        }
    }
}


.snils_get_new_wrapper {
    padding-top: 90px;

    .snils_get_new {
        img {
            display: block;
            margin: 0 auto;
        }

        p {
            color: #2d2d2d;
            font-family: "Trebuchet MS", sans-serif;
            font-size: 17px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: 27px;
            text-align: center;
            margin: 84px 0;
        }
    }
}

.footer_wrapper {
    background-image: url(img/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    .footer {
        background-color: rgba(80, 102, 142, 0.8);
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);


        .footer_menu {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;


            li {
                position: relative;

                &:last-child:after {
                    display: block;
                    content: "";
                    width: 2px;
                    height: 100%;
                    background-image: url("img/palka.svg");
                    background-repeat: no-repeat;
                    background-position: center center;
                    position: absolute;
                    top: 0;
                    right: 0;
                }

                &:before {
                    display: block;
                    content: "";
                    width: 2px;
                    height: 100%;
                    background-image: url("img/palka.svg");
                    background-repeat: no-repeat;
                    background-position: center center;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                a {
                    display: block;
                    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
                    color: #ffffff;
                    font-family: "Trebuchet MS", sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: 19.46px;
                    text-align: left;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 10px 40px 6px;
                    margin: 0;

                    &:hover {
                        color: #f5135c;
                    }
                }
            }
        }

        .footer_content {
            border-top: 2px solid #5578a5;
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 42px;

            .footer_content_item {

                .footer_logo {
                    margin-right: 20px;
                    padding-bottom: 25px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    img {
                        display: block;
                        margin-right: 14px;
                        width: 45px;
                        height: 55px;
                    }

                    a {
                        display: block;
                        text-decoration: none;
                        color: #ffffff;
                        font-family: "Trebuchet MS", sans-serif;
                        font-size: 44px;
                        font-weight: 700;
                        font-style: normal;
                        text-align: left;
                        text-transform: uppercase;
                        letter-spacing: 1.1px;
                        line-height: normal;

                        .pink {
                            color: #f5135c;
                        }
                    }
                }

                .footer_phone {
                    margin-right: 20px;

                    a {
                        display: block;
                        text-decoration: none;
                        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
                        color: #fffefe;
                        font-family: "Plumb Condensed", sans-serif;
                        font-size: 36px;
                        font-weight: 400;
                        font-style: normal;
                        letter-spacing: normal;
                        line-height: 40px;
                        text-align: right;
                        text-transform: uppercase;
                    }
                }
            }

            p {
                color: #ffffff;
                font-family: "Trebuchet MS", sans-serif;
                font-size: 14px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: normal;
                line-height: 18px;
                text-align: left;
                margin-left: 35px;
            }

            .forma {
                display: flex;
                flex-direction: row;
                justify-content: right;
                align-items: stretch;

                .forma-item {
                    margin-left: 20px;
                    margin-right: 14px;


                    .form-group {
                        margin-bottom: 10px;

                        input {
                            padding: 6px 16px;
                            width: 243px;

                            &::placeholder {
                                color: #969494;
                                font-family: "Plumb Condensed", sans-serif;
                                font-size: 17px;
                                font-weight: 300;
                                font-style: normal;
                                letter-spacing: normal;
                                line-height: normal;
                                text-align: left;

                            }
                        }
                    }
                }

                .form-text {
                    margin-bottom: 10px;
                    textarea {
                        padding: 6px 16px;
                        width: 243px;
                        height: 100%;

                        &::placeholder {
                            color: #969494;
                            font-family: "Plumb Condensed", sans-serif;
                            font-size: 17px;
                            font-weight: 300;
                            font-style: normal;
                            letter-spacing: normal;
                            line-height: normal;
                            text-align: left;
                        }
                    }
                }
            }

            .btn_contacts {
                margin: 28px 0 0 20px;
                padding: 15px 17px;
                border: none;
                border-radius: 5px;
                background-color: #ec2b6a;
                color: #ffffff;
                font-family: "Trebuchet MS", sans-serif;
                font-size: 14px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: normal;
                text-align: center;
                text-transform: uppercase;
                
                &:hover{
                    background-color: #f5135c;
                }

            }
        }

        .footer_info_wrapper {
            .footer_info {
                max-width: 894px;
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                padding: 42px 0 32px;

                p {
                    margin: 10px 0;
                    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
                    color: #ffffff;
                    font-family: "Plumb Condensed", sans-serif;
                    font-size: 21px;
                    font-weight: 400;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: 19.46px;
                    text-align: left;
                    text-transform: uppercase;

                    a {
                        color: #ffffff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}


